examples/sample.json
[
  {
    "id": "6aca8370.ae2c4c",
    "type": "daumsearch",
    "z": "fbe560b0.5c19f",
    "name": "다음 웹 검색",
    "api": "web",
    "query": "테슬라",
    "size": "10",
    "sort": "accuracy",
    "page": "1",
    "creds": "198f8eb6.449fe1",
    "x": 350,
    "y": 920,
    "wires": [
      [
        "bcfea668.efb6a8"
      ]
    ]
  },
  {
    "id": "e2623bdd.cccb98",
    "type": "inject",
    "z": "fbe560b0.5c19f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 920,
    "wires": [
      [
        "6aca8370.ae2c4c"
      ]
    ]
  },
  {
    "id": "bcfea668.efb6a8",
    "type": "debug",
    "z": "fbe560b0.5c19f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 920,
    "wires": []
  },
  {
    "id": "9e160968.456028",
    "type": "daumsearch",
    "z": "fbe560b0.5c19f",
    "name": "다음 동영상 검색",
    "api": "vclip",
    "query": "테슬라",
    "size": "10",
    "sort": "accuracy",
    "page": "1",
    "creds": "198f8eb6.449fe1",
    "x": 370,
    "y": 960,
    "wires": [
      [
        "1075efce.f3143"
      ]
    ]
  },
  {
    "id": "4b818221.f1a16c",
    "type": "inject",
    "z": "fbe560b0.5c19f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 960,
    "wires": [
      [
        "9e160968.456028"
      ]
    ]
  },
  {
    "id": "1075efce.f3143",
    "type": "debug",
    "z": "fbe560b0.5c19f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 960,
    "wires": []
  },
  {
    "id": "9f9a2324.decfc",
    "type": "daumsearch",
    "z": "fbe560b0.5c19f",
    "name": "다음 이미지 검색",
    "api": "image",
    "query": "테슬라",
    "size": "10",
    "sort": "accuracy",
    "page": "1",
    "creds": "198f8eb6.449fe1",
    "x": 370,
    "y": 1000,
    "wires": [
      [
        "22c1064e.20ed9a"
      ]
    ]
  },
  {
    "id": "9bfaf028.8efb3",
    "type": "inject",
    "z": "fbe560b0.5c19f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 1000,
    "wires": [
      [
        "9f9a2324.decfc"
      ]
    ]
  },
  {
    "id": "22c1064e.20ed9a",
    "type": "debug",
    "z": "fbe560b0.5c19f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 1000,
    "wires": []
  },
  {
    "id": "869f1a7f.c2c1f8",
    "type": "daumsearch",
    "z": "fbe560b0.5c19f",
    "name": "다음 블로그 검색",
    "api": "blog",
    "query": "테슬라",
    "size": "10",
    "sort": "accuracy",
    "page": "1",
    "creds": "198f8eb6.449fe1",
    "x": 370,
    "y": 1040,
    "wires": [
      [
        "8d4906d6.a58b18"
      ]
    ]
  },
  {
    "id": "60cf0589.c1c85c",
    "type": "inject",
    "z": "fbe560b0.5c19f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 1040,
    "wires": [
      [
        "869f1a7f.c2c1f8"
      ]
    ]
  },
  {
    "id": "8d4906d6.a58b18",
    "type": "debug",
    "z": "fbe560b0.5c19f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 1040,
    "wires": []
  },
  {
    "id": "62b89b1f.1b24a4",
    "type": "daumsearch",
    "z": "fbe560b0.5c19f",
    "name": "다음 책 검색",
    "api": "book",
    "query": "테크",
    "size": "10",
    "sort": "accuracy",
    "page": "1",
    "creds": "198f8eb6.449fe1",
    "x": 350,
    "y": 1080,
    "wires": [
      [
        "29c978b7.6310a8"
      ]
    ]
  },
  {
    "id": "1037b800.7c83e8",
    "type": "inject",
    "z": "fbe560b0.5c19f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 1080,
    "wires": [
      [
        "62b89b1f.1b24a4"
      ]
    ]
  },
  {
    "id": "29c978b7.6310a8",
    "type": "debug",
    "z": "fbe560b0.5c19f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 1080,
    "wires": []
  },
  {
    "id": "fa3df0bd.62cf6",
    "type": "daumsearch",
    "z": "fbe560b0.5c19f",
    "name": "다음 카페 검색",
    "api": "cafe",
    "query": "테슬라",
    "size": "10",
    "sort": "accuracy",
    "page": "1",
    "creds": "198f8eb6.449fe1",
    "x": 360,
    "y": 1120,
    "wires": [
      [
        "8d0fa774.206ce8"
      ]
    ]
  },
  {
    "id": "cee4f3df.95eec",
    "type": "inject",
    "z": "fbe560b0.5c19f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 1120,
    "wires": [
      [
        "fa3df0bd.62cf6"
      ]
    ]
  },
  {
    "id": "8d0fa774.206ce8",
    "type": "debug",
    "z": "fbe560b0.5c19f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 1120,
    "wires": []
  },
  {
    "id": "198f8eb6.449fe1",
    "type": "kakaoRestApiKey",
    "name": ""
  }
]
